fv.box_valores{font-size:23px}
.voltar-ao-topo{position:fixed;bottom:2em;right:2em;text-decoration:none;color:#fff;background-color:rgba(0,0,0,0.3);font-size:12px;padding:1em;display:none}
.voltar-ao-topo:hover{background-color:rgba(0,0,0,0.6)}
a#scroll-top{display:none;position:fixed;right:20px;bottom:80px;height:42px;width:42px;z-index:9999;line-height:3em;background:#1ABC9C url(../images/scroll-top.png) center center no-repeat;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
.logo{float:left;width:190px}
.btn-padding-10{margin-left:10px;margin-top:10px}
.titulo{display:inline-block}
@media print {
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:left}
.col-md-12{width:100%}
.col-md-11{width:91.66666667%}
.col-md-10{width:83.33333333%}
.col-md-9{width:75%}
.col-md-8{width:66.66666667%}
.col-md-7{width:58.33333333%}
.col-md-6{width:50%}
.col-md-5{width:41.66666667%}
.col-md-4{width:33.33333333%}
.col-md-3{width:25%}
.col-md-2{width:16.66666667%}
.col-md-1{width:8.33333333%}
.col-md-pull-12{right:100%}
.col-md-pull-11{right:91.66666667%}
.col-md-pull-10{right:83.33333333%}
.col-md-pull-9{right:75%}
.col-md-pull-8{right:66.66666667%}
.col-md-pull-7{right:58.33333333%}
.col-md-pull-6{right:50%}
.col-md-pull-5{right:41.66666667%}
.col-md-pull-4{right:33.33333333%}
.col-md-pull-3{right:25%}
.col-md-pull-2{right:16.66666667%}
.col-md-pull-1{right:8.33333333%}
.col-md-pull-0{right:auto}
.col-md-push-12{left:100%}
.col-md-push-11{left:91.66666667%}
.col-md-push-10{left:83.33333333%}
.col-md-push-9{left:75%}
.col-md-push-8{left:66.66666667%}
.col-md-push-7{left:58.33333333%}
.col-md-push-6{left:50%}
.col-md-push-5{left:41.66666667%}
.col-md-push-4{left:33.33333333%}
.col-md-push-3{left:25%}
.col-md-push-2{left:16.66666667%}
.col-md-push-1{left:8.33333333%}
.col-md-push-0{left:auto}
.col-md-offset-12{margin-left:100%}
.col-md-offset-11{margin-left:91.66666667%}
.col-md-offset-10{margin-left:83.33333333%}
.col-md-offset-9{margin-left:75%}
.col-md-offset-8{margin-left:66.66666667%}
.col-md-offset-7{margin-left:58.33333333%}
.col-md-offset-6{margin-left:50%}
.col-md-offset-5{margin-left:41.66666667%}
.col-md-offset-4{margin-left:33.33333333%}
.col-md-offset-3{margin-left:25%}
.col-md-offset-2{margin-left:16.66666667%}
.col-md-offset-1{margin-left:8.33333333%}
.col-md-offset-0{margin-left:0}
.col-p-1,.col-p-2,.col-p-3,.col-p-4,.col-p-5,.col-p-6,.col-p-7,.col-p-8,.col-p-9,.col-p-10,.col-p-11,.col-p-12{float:left;position:relative;min-height:1px;padding-left:15px;padding-right:15px}
.col-p-12{width:100%}
.col-p-11{width:91.66666667%}
.col-p-10{width:83.33333333%}
.col-p-9{width:75%}
.col-p-8{width:66.66666667%}
.col-p-7{width:58.33333333%}
.col-p-6{width:50%}
.col-p-5{width:41.66666667%}
.col-p-4{width:33.33333333%}
.col-p-3{width:25%}
.col-p-2{width:16.66666667%}
.col-p-1{width:8.33333333%}
.col-p-pull-12{right:100%}
.col-p-pull-11{right:91.66666667%}
.col-p-pull-10{right:83.33333333%}
.col-p-pull-9{right:75%}
.col-p-pull-8{right:66.66666667%}
.col-p-pull-7{right:58.33333333%}
.col-p-pull-6{right:50%}
.col-p-pull-5{right:41.66666667%}
.col-p-pull-4{right:33.33333333%}
.col-p-pull-3{right:25%}
.col-p-pull-2{right:16.66666667%}
.col-p-pull-1{right:8.33333333%}
.col-p-pull-0{right:auto}
.col-p-push-12{left:100%}
.col-p-push-11{left:91.66666667%}
.col-p-push-10{left:83.33333333%}
.col-p-push-9{left:75%}
.col-p-push-8{left:66.66666667%}
.col-p-push-7{left:58.33333333%}
.col-p-push-6{left:50%}
.col-p-push-5{left:41.66666667%}
.col-p-push-4{left:33.33333333%}
.col-p-push-3{left:25%}
.col-p-push-2{left:16.66666667%}
.col-p-push-1{left:8.33333333%}
.col-p-push-0{left:auto}
.col-p-offset-12{margin-left:100%}
.col-p-offset-11{margin-left:91.66666667%}
.col-p-offset-10{margin-left:83.33333333%}
.col-p-offset-9{margin-left:75%}
.col-p-offset-8{margin-left:66.66666667%}
.col-p-offset-7{margin-left:58.33333333%}
.col-p-offset-6{margin-left:50%}
.col-p-offset-5{margin-left:41.66666667%}
.col-p-offset-4{margin-left:33.33333333%}
.col-p-offset-3{margin-left:25%}
.col-p-offset-2{margin-left:16.66666667%}
.col-p-offset-1{margin-left:8.33333333%}
.col-p-offset-0{margin-left:0}
.always-page-break-after,.always-pba{page-break-after:always}
.avoid-page-break-after,.avoid-pba{page-break-after:avoid}
.left-page-break-after,.left-pba{page-break-after:left}
.right-page-break-after,.right-pba{page-break-after:right}
.always-page-break-before,.always-pbb{page-break-before:always}
.avoid-page-break-before,.avoid-pbb{page-break-before:avoid}
.left-page-break-before,.left-pbb{page-break-before:left}
.right-page-break-before,.right-pbb{page-break-before:right}
.avoid-page-break-inside,.avoid-pbi{page-break-inside:avoid;width:3px}
a[href]:after{content:none!important}
#dados{padding-top:0}
html{background-color:#f0f0f0!important;-webkit-print-color-adjust:exact}
.small-box{position:relative;display:block;margin-bottom:20px;overflow:hidden;border-radius:2px;box-shadow:.5px .5px 7px #000!important;text-align:left}
.logo{float:left;width:190px}
.titulo{display:inline-block}
.cnpj{font-size:18px!important;margin:0;height:26px;padding:9px 0}
.not-print{display:none!important}
.print{display:block!important}
.exercicio{-webkit-appearance:none;font-size:19px;height:40px}
.form-inline{padding-bottom:15px}
body{margin:8mm 8mm 0;padding:0}
}
@page{size:A4;margin:0 0 5mm;background-color:#f0f0f0!important;-webkit-print-color-adjust:exact}
@media only screen and (max-width: 992px) {
.logo{float:none;width:190px;float:none;width:190px;    padding-top: 10px;}
.col-btn-6{width:49%}
.margin-left-0{margin-left:0!important}
.right{text-align:right}
.center{text-align:center}
.conteudo-footer{padding-bottom:100px}
.center-xs{text-align:center}
.btn-padding-10{margin-left:0px;margin-top:0px}
.config-gear{padding-left: 0px;padding-right: 0px;}
.config-gear-btn{width: 100%}
}
@media (min-width: 992px) {
.right-md{text-align:right}
.center-md{text-align:center}
}
p { margin: 0 0 7px;}